@font-face {
    font-family: 'KORAIL';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KORAIL/KORAIL.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KORAIL/KORAIL.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KORAIL/KORAIL.ttf') format('truetype');
}
